.nn-spirit {
  color: #2962ab;
  background-color: #1a1a1a;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;

  .nn-sp {
    &-attr {
      color: #7490d1;
    }

    &-acute,
    &-quote,
    &-d-quote {
      color: #8454b7;
    }
    
    &-value {
      color: #ffca00;
    }

    &-tag {
      color: #c3567a;
    }

    &-text {
      color: #f3f3f3;
    }
  }
}