.nn-spirit {
  --spirit-background: #1a1a1a;
  background-color: var(--spirit-background);
  color: #2962ab;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  text-align: left;
  word-break: break-word;
}

main {
  &.nn-light {
    .nn-spirit {
      --spirit-background: #303544;
    }
  }
}
